<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Advice Hub</title>

    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/font-awesome-line-awesome/css/all.min.css"
    />
  </head>

  <body>
    <section>
      <header>
        <h2 class="logo">ADVICE <span>HUB</span></h2>
      </header>

      <div class="container">
        <div class="content-1">
          <div class="first-box">
            <div class="banner">
              <h2>
                GET ADVICE <br />
                <span id="s-banner">USE ADVICE</span>
              </h2>
            </div>
            <div class="text-area">
              Welcome To ADVICE HUB. <br />
              It is the place where you can get a piece of advice with just one
              click. Come here whenever you need guide in your life.
              <br />
              To use our advice api go to our github repo.
            </div>
          </div>
          <div id="secondb" class="second-box"></div>
        </div>
        <button id="adviceBTN" class="advice-btn">SEEK ADVICE</button>
        <br />
        <br />
        <a id="repo" href="https://github.com/Shreejan-35/advicehub">GITHUB REPO</a>
      </div>
    </section>
    <script src="js/index.js"></script>
  </body>
</html>
